asgiref==3.5.2
crispy-bootstrap5==0.6
Django==4.1
django-crispy-forms==1.14.0
django-phonenumber-field==6.3.0
django-phonenumbers==1.0.1
django-widget-tweaks==1.4.12
phonenumbers==8.12.54
python-decouple==3.6
sqlparse==0.4.2
